{#
/**
 * @file group_role_delegation.html.twig
 * Default theme implementation to present Group role delegation data.
 *
 * This template is used when viewing Group role delegation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_group_role_delegation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('group_role_delegation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
